body {font-family: arial}
hr {margin-left:l0px; margin-right:10px;}
h1 {text-decoration: Underline}
footer {text-align: center; font-size: 10pt}

.navbar {list-style-type: none;}

.navitem {border-radius:15px; margin:5px; padding:10px; color:white; background-color:skyblue}

.navlink {color:white; text-decoration:none;}

.navhead {border-radius:15px; margin:5px; padding:10px; color:white; background-color:cornflowerblue; text-decoration:underline; font-size:16pt;}
.navcollapse {display:none;}

.bodycontent {max-height:675px; width:100%;}

.navcontent {max-height:700px;}

.noteblock {margin-left:30px; margin-top:5px; margin-bottom:5px; padding:10px; border:solid; border-width:1px; border-radius:15px; border-color:darkblue; background:powderblue;}
.exampleblock {margin-left:30px; margin-top:5px; margin-bottom:5px; padding:10px; border:solid; border-width:1px; border-radius:15px; border-color:darkgreen; background:darkseagreen;}
.warningblock {margin-left:30px; margin-top:5px; margin—bottom:5px; padding:10px; border:solid; border-width:1px; border-radius:15px; border-color:firebrick; background:lightsalmon;}
.collapseblock {border-radius:25px; margin-left:15px; margin-bottom:2px; margin-right:2px; padding-left:15px; padding-top:2px; padding-bottom:2px; padding-right:5px; color:white; background-color:darkblue; text-decoration:underline; font-size:14pt;}
.blockcollapse {display:none; margin-left:30px; margin-top:5px; margin-bottom:5px; margin-right: 5px; padding-left:10px; padding-right: 5px; border:solid; border-width:1px; border-radius:15px; border-color:darkblue; background:white; color:black; font-size:12pt;}

.image-med {margin-left:30px; margin-top:5px; margin-bottom:5px; border:solid; border-width:1px; max-height:200px;}
.image-lrg {margin-left:10px; margin-top:5px; margin-bottom:5px; border:solid; border-width:1px; max-width:95%;}

.sectionborder {padding:10px; margin-left:30px; border:solid; border—width:2px; border-style:rounded; border-color:lightgray; border-radius:12px;}

.column {float:left}
.column.left {width:25%}
.column.right {width:75%}

p {margin-top:15px; margin-bottom:5px;}
ul {margin-top:5px; margin-bottom:5px;}
ol {margin-top:5px; margin-bottom:5px;}
ol.li {margin-top:5px; margin-bottom:5px;}

iframe {border:none; height:650px; width:100%;}

<script type="text/javascript">
	<!--
	function toggle_vis(id) {
		var e = document.getElementById(id);
		if(e.style.display == 'block')
			e.style.display = 'none';
		else
			e.style.display = 'block';
	}
	//-->
</script>